/* 主题色 */
@mixin bg-color($color) {
    background-color: $color;
    [data-theme='dark'] & {
      background-color: $dark-background;
    }
    [data-theme='light'] & {
      background-color: $light-background;
    }
  }
  
  @mixin text-color($color) {
    color: $color;
    [data-theme='dark'] & {
      color: $dark-text;
    }
    [data-theme='light'] & {
      color: $light-text;
    }
  }

  @mixin header-button-bg {
    [data-theme='dark'] & {
      background-color: $dark-header-button-bg;
    }
    [data-theme='light'] & {
      background-color: $light-header-button-bg;
    }
  }
  
@mixin header-button-bg-hover {
    [data-theme='dark'] & {
      background-color: lighten($dark-header-button-bg, 5%);
    }
    [data-theme='light'] & {
      background-color: darken($light-header-button-bg, 5%);
    }
  }

@mixin header-text {
    [data-theme='dark'] & {
      color: $dark-header-text;
    }
    [data-theme='light'] & {
      color: $light-header-text;
    }
  }

  @mixin header-number {
    [data-theme='dark'] & {
      color: $dark-header-number;
    }
    [data-theme='light'] & {
      color: $light-header-number;
    }
  }

  @mixin header-blink {
    [data-theme='dark'] & {
      background-color: $dark-header-blink;
    }
    [data-theme='light'] & {
      background-color: $light-header-blink;
    }
  }

  @mixin sidebar-bg {
    [data-theme='dark'] & {
      background: linear-gradient(175deg, rgb(29,35,43) 0, rgb(24,29,35) 85%); 
    }
    [data-theme='light'] & {
      background: linear-gradient(175deg, rgb(243,246,250) 0, rgb(255,255,255) 85%);
    }
  }

  @mixin sidebar-text {
    [data-theme='dark'] & {
      color: $dark-sidebar-text;
    }
    [data-theme='light'] & {
      color: $light-sidebar-text;
    }
  }

  @mixin sidebar-play {
    [data-theme='dark'] & {
      background-color: $dark-sidebar-play-bg;
      color: $dark-sidebar-play-text;

    }
    [data-theme='light'] & {
      background-color: $light-sidebar-play-bg;
      color: $light-sidebar-play-text;
    }
  }

  @mixin sidebar-selected {
    [data-theme='dark'] & {
     background: linear-gradient(95.67deg, rgb(53,63,73) 0, transparent 92.54%);
    }
    [data-theme='light'] & {
     background: linear-gradient(95.67deg, rgb(217,222,227) 0, transparent 92.54%);

    }
  }

  @mixin body-bg {
    [data-theme='dark'] & {
      background-color: $dark-body-bg;
    }
    [data-theme='light'] & {
      background-color: $light-body-bg;
    }
  }

  @mixin footer-bg {
    [data-theme='dark'] & {
      background-color: $dark-footer-bg;
    }
    [data-theme='light'] & {
      background-color: $light-footer-bg;
    }
  }

  @mixin footer-left-text {
    [data-theme='dark'] & {
      color: $dark-sidebar-play-text;

    }
    [data-theme='light'] & {
      color: $light-sidebar-play-text;
    }
  }

  @mixin target-bg-trans {
    [data-theme='dark'] & {
      background: transparent;
    }
    [data-theme='light'] & {
      background: transparent;
    }
  }
  @mixin target-bg {
    [data-theme='dark'] & {
      background-color: rgba(255, 255, 255, 0.1);
    }
    [data-theme='light'] & {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  @mixin target-text {
    [data-theme='dark'] & {
      color: $dark-target-text;
    }
    [data-theme='light'] & {
      color: $light-text;
    }
  }
  @mixin target-border-trans {
    [data-theme='dark'] & {
      border: 2px solid $dark-target-border;
    }
    [data-theme='light'] & {
      border: 2px solid $light-target-border;
    }
  } 

  @mixin count-down-bg {
    [data-theme='dark'] & {
      background-color: rgb(40, 45, 52);
    }
    [data-theme='light'] & {
      background-color: rgba(228, 214, 214, 0.892);
    }
  }
  @mixin daily-icon-bg {
    [data-theme='dark'] & {
      background-color: rgb(33, 38, 46);
    }
    [data-theme='light'] & {
      background-color: rgb(224, 228, 232);
    }
  }
  @mixin target-panel-bg {
    [data-theme='dark'] & {
      background: linear-gradient(94.5deg,rgba(29,35,43,.75) 0.19%,rgba(24,29,35,.563));
    }
    [data-theme='light'] & {
      background: linear-gradient(
        94.5deg,
        rgba(255, 255, 255, 0.75) 0.19%,
        rgba(245, 245, 245, 0.5625) 100%
      );
    }
  }

  @mixin target-panel-box-shadow {
    [data-theme='dark'] & {
      box-shadow: 0 0 30px rgba(255,233,0,0),0px 20px 50px rgba(0,0,0,.2),inset 1px 1px 3px hsla(0,0%,100%,.1);
    }
    [data-theme='light'] & {
      box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.07);
    }
  }
  
  @mixin target-border-today {
    [data-theme='dark'] & {
      border: 3px solid #ffdf00;
    }
    [data-theme='light'] & {
      border: 3px solid #976e06;
    }
  }

  @mixin target-text-today {
    [data-theme='dark'] & {
      color: #ffdf00;
    }
    [data-theme='light'] & {
      color: #976e06;
    }
  }

  @mixin target-border-shadow {
    [data-theme='dark'] & {
      box-shadow: 0 8px 36px rgba(0,0,0,.1),0 24px 74px rgba(0,0,0,.15),inset 1px 1px 3px hsla(0,0%,100%,.1);
    }
    [data-theme='light'] & {
      box-shadow: 0px 0 20px rgba(0, 0, 0, 0.1);
    }
  }

  @mixin target-bg-large {
    [data-theme='dark'] & {
      background: linear-gradient(95.41deg,rgba(45,55,64,0.5) 0,rgba(39,45,52,0.5) 101.76%);
    }
    [data-theme='light'] & {
      background: linear-gradient(95.41deg,rgba(255,255,255,1) 0,rgba(245,245,245,1) 101.76%);
    }
  }
  @mixin daily-target-panel-bg {
    [data-theme='dark'] & {
      background: radial-gradient(82.25% 100% at 50% 0,rgba(29,35,43,0.75) 37.28%,rgba(24,29,35,0) 100%);
    }
    [data-theme='light'] & {
      background: radial-gradient(82.25% 100% at 50% 0,rgba(243,246,250,0.75) 37.28%,rgba(255,255,255,0) 100%);
    }
  }

  @mixin previous-radio-box-shadow {
    [data-theme='dark'] & {
      box-shadow: 0px 8px 20px rgba(0,0,0,.1),0px 24px 50px rgba(0,0,0,.15),inset 1px 1px 3px hsla(0,0%,100%,.1);
    }
    [data-theme='light'] & {
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1),
      inset 1px 1px 3px rgba(255, 255, 255, 0.1);
    }
  }

  @mixin previous-radio-bg {
    [data-theme='dark'] & {
      background: linear-gradient(95.41deg,rgba(45,55,64,0.5) 0,rgba(39,45,52,0.5) 101.76%);
    }
    [data-theme='light'] & {
      background: linear-gradient(95.41deg,rgba(255,255,255,1) 0,rgba(245,245,245,1) 101.76%);
    }
  }

  @mixin previous-radio-shadow {
    [data-theme='dark'] & {
      box-shadow: 0px 8px 20px rgba(0,0,0,.1),0px 24px 50px rgba(0,0,0,.15),inset 1px 1px 3px hsla(0,0%,100%,.1);
    }
    [data-theme='light'] & {
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1),
      inset 1px 1px 3px rgba(255, 255, 255, 0.1);
    }
  }

  @mixin editor-header-bg {
    [data-theme='dark'] & {
      background: #2a313a;
      border-top: 1px solid #323f4a;
    }
    [data-theme='light'] & {
      background: #cbd5e0;
      border-top: 1px solid #cbd5e0;
    }

  }

  @mixin editor-footer-bg {
    [data-theme='dark'] & {
      background: rgb(19, 24, 28);
      
    }
    [data-theme='light'] & {
      background: rgb(226, 232, 240);
    }

  }
  @mixin editor-submit-border {
    [data-theme='dark'] & {
      border: 1px solid $dark-target-border;
    }
    [data-theme='light'] & {
      border: 1px solid $light-target-border;
    }
  } 

  @mixin play-header-bg {
    [data-theme='dark'] & {
      background: #21272d;
      border-top: 1px solid #323f4a;
    }
    [data-theme='light'] & {
      background: #e2e8f0;
      border-top: 1px solid #cbd5e0;
    }

  }

  @mixin play-output-radio-bg {
    [data-theme='dark'] & {
      background: #07080b;
      border: 3px solid #27313a;
    }
    [data-theme='light'] & {
      background: #edf2f7;
      border: 3px solid #cbd5e0;
    }
  }
  @mixin target-color-divider-bg {
    [data-theme='dark'] & {
      background: #21272d;
    }
    [data-theme='light'] & {
      background: #e2e8f0;
    }
  }
  @mixin color-text-bg {
    [data-theme='dark'] & {
      background-color: rgb(45,55,67);
      color: #a0b3c6;
    }
    [data-theme='light'] & {
      background-color: rgb(255,255,255);
      color: #2d3748;
    }
  }
  @mixin sponsor-img {
    [data-theme='dark'] & {
      border: 1px solid #27313a;
    }
    [data-theme='light'] & {
      background: rgba(0,0,0,0.25);
      border: 1px solid #cbd5e0;    }
  }
  