/* 主题色 */
@mixin bg-color($color) {
    background-color: $color;
    [data-theme='dark'] & {
      background-color: $dark-background;
    }
    [data-theme='light'] & {
      background-color: $light-background;
    }
  }
  
  @mixin text-color($color) {
    color: $color;
    [data-theme='dark'] & {
      color: $dark-text;
    }
    [data-theme='light'] & {
      color: $light-text;
    }
  }

  @mixin header-button-bg {
    [data-theme='dark'] & {
      background-color: $dark-header-button-bg;
    }
    [data-theme='light'] & {
      background-color: $light-header-button-bg;
    }
  }
  
@mixin header-button-bg-hover {
    [data-theme='dark'] & {
      background-color: lighten($dark-header-button-bg, 5%);
    }
    [data-theme='light'] & {
      background-color: darken($light-header-button-bg, 5%);
    }
  }

@mixin header-text {
    [data-theme='dark'] & {
      color: $dark-header-text;
    }
    [data-theme='light'] & {
      color: $light-header-text;
    }
  }

  @mixin header-number {
    [data-theme='dark'] & {
      color: $dark-header-number;
    }
    [data-theme='light'] & {
      color: $light-header-number;
    }
  }

  @mixin header-blink {
    [data-theme='dark'] & {
      background-color: $dark-header-blink;
    }
    [data-theme='light'] & {
      background-color: $light-header-blink;
    }
  }

  @mixin sidebar-bg {
    [data-theme='dark'] & {
      background: linear-gradient(175deg, rgb(29,35,43) 0, rgb(24,29,35) 85%); 
    }
    [data-theme='light'] & {
      background: linear-gradient(175deg, rgb(243,246,250) 0, rgb(255,255,255) 85%);
    }
  }

  @mixin sidebar-text {
    [data-theme='dark'] & {
      color: $dark-sidebar-text;
    }
    [data-theme='light'] & {
      color: $light-sidebar-text;
    }
  }

  @mixin sidebar-play {
    [data-theme='dark'] & {
      background-color: $dark-sidebar-play-bg;
      color: $dark-sidebar-play-text;

    }
    [data-theme='light'] & {
      background-color: $light-sidebar-play-bg;
      color: $light-sidebar-play-text;
    }
  }

  @mixin sidebar-selected {
    [data-theme='dark'] & {
     background: linear-gradient(95.67deg, rgb(53,63,73) 0, transparent 92.54%);
    }
    [data-theme='light'] & {
     background: linear-gradient(95.67deg, rgb(217,222,227) 0, transparent 92.54%);

    }
  }

  @mixin body-bg {
    [data-theme='dark'] & {
      background-color: $dark-body-bg;
    }
    [data-theme='light'] & {
      background-color: $light-body-bg;
    }
  }

  @mixin footer-bg {
    [data-theme='dark'] & {
      background-color: $dark-footer-bg;
    }
    [data-theme='light'] & {
      background-color: $light-footer-bg;
    }
  }

  @mixin footer-left-text {
    [data-theme='dark'] & {
      color: $dark-sidebar-play-text;

    }
    [data-theme='light'] & {
      color: $light-sidebar-play-text;
    }
  }

  @mixin target-bg-trans {
    [data-theme='dark'] & {
      background: transparent;
    }
    [data-theme='light'] & {
      background: transparent;
    }
  }
  @mixin target-bg {
    [data-theme='dark'] & {
      background-color: rgba(255, 255, 255, 0.1);
    }
    [data-theme='light'] & {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  @mixin target-text {
    [data-theme='dark'] & {
      color: $dark-target-text;
    }
    [data-theme='light'] & {
      color: $light-text;
    }
  }
  @mixin target-border-trans {
    [data-theme='dark'] & {
      border: 2px solid $dark-target-border;
    }
    [data-theme='light'] & {
      border: 2px solid $light-target-border;
    }
  } 

  @mixin count-down-bg {
    [data-theme='dark'] & {
      background-color: rgb(40, 45, 52);
    }
    [data-theme='light'] & {
      background-color: rgba(228, 214, 214, 0.892);
    }
  }
  @mixin daily-icon-bg {
    [data-theme='dark'] & {
      background-color: rgb(33, 38, 46);
    }
    [data-theme='light'] & {
      background-color: rgb(224, 228, 232);
    }
  }
  @mixin target-panel-bg {
    [data-theme='dark'] & {
      background: linear-gradient(94.5deg,rgba(29,35,43,.75) 0.19%,rgba(24,29,35,.563));
    }
    [data-theme='light'] & {
      background: linear-gradient(
        94.5deg,
        rgba(255, 255, 255, 0.75) 0.19%,
        rgba(245, 245, 245, 0.5625) 100%
      );
    }
  }

  @mixin target-panel-box-shadow {
    [data-theme='dark'] & {
      box-shadow: 0 0 30px rgba(var(--rgb-brand),0),0px 20px 50px rgba(0,0,0,.2),inset 1px 1px 3px hsla(0,0%,100%,.1);
    }
    [data-theme='light'] & {
      box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.07);
    }
  }