/* 亮色主题 */
$light-background: rgb(255,255,255);
$light-text: rgb(5, 5, 5);
$light-header-button-bg: #cbd1d8;
$light-header-text: #6b7b8e;
$light-header-number: #1a202c;
$light-header-blink: #976e06;
$light-sidebar-text: #505b69;
$light-sidebar-play-bg: #d4d6db;
$light-sidebar-play-text: rgb(163, 169, 178);


/* 暗色主题 */
$dark-background: rgb(24,29,35);
$dark-text: rgb(255, 255, 255);
$dark-header-button-bg: #323f4a;
$dark-header-text: #6b7b8e;
$dark-header-number: #cbd1e1;
$dark-header-blink: #ffdf00;
$dark-sidebar-text: #95a7bc;
$dark-sidebar-play-bg: #101217;
$dark-sidebar-play-text: rgb(73, 82, 94);

